body {
  background-color: #4b595e;
  font-family: "Varela Round", sans-serif;
  color: #fff;
}

p {
  font-size: 15px;
  color: #bdf7ff;
  font-style: italic;
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  color: #ffe963;
}

h2 {
  text-align: center;
}

small {
  display: block;
  text-align: center;
  font-size: 12px;
  margin-top: 50px;
}

.container {
  max-width: 600px;
}

#date-time {
  text-align: left;
  padding-top: 10px;
}

.degrees {
  font-size: 15px;
  vertical-align: top;
}

.degrees .active {
  color: #fff;
  text-decoration: none;
}

.specific {
  text-align: center;
  font-size: 12px;
}

.fiveDay {
  text-align: center;
}

.temp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.day {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.high {
  font-weight: bold;
}

#search-form {
  display: block;
  padding-top: 10px;
}

#fahrenheit-celsius {
  font-size: 16px;
}

#icon {
  display: block;
  margin: 20px auto;
  width: 20%;
  margin-bottom: 5px;
}
